@* @{
    ViewData["Title"] = "About This Project";
} *@

<h1>About This Project!</h1>
<h3>This website was a labor of love with a side of sweat and tears. To Utilize an API for locating pinball machines in the Portland metro area. So for all you pinball enthusiasts, enjoy.</h3>

<p>Drake Wilcox, Geoff Goetz, Brandan Sayarath, Dom Youmans</p>
