@{
    ViewData["Title"] = "Home Page";
}


<div id="index-section">
    <div class="text-center">
        <h1 class="display-4">Welcome to the Portland Pinball Tracker!</h1>

        <p>This map displays all the pinball machines and their locations in the city of Portland!</p>


        @using (Html.BeginForm("Search", "Locations"))
        {
            <select class="form-control" id="SearchBy" name="SearchBy">
            <option>Search by machine</option> 
            <option>Search by location</option> 
            </select>
            <input type="text" placeholder="Search.." name="search" class="form-control"/>
						<br>
            <input type="submit"  value="Search!" class="btn btn-dark btn-lg">
        }   
    </div> 
</div>
