@{
	ViewData["Title"] = "Home Page";
}
@using PinTrackerMVC.Models

<div class="card">
    <img class="img-fluid card-img" src="https://i.imgur.com/8ucZAoy.png">
    <div class="card-img-overlay d-flex">
      <div class="my-auto mx-auto text-center">
				<div class="card-title">
					<p class="text-light">Welcome to the Portland Pinball Tracker!</p>
					<p class="text-light">Your Portland Pinball Database</p>
				</div>
      </div>
    </div>
  </div>

<div class="card">
	<div id="index-section">
			<div class="text-center">
					<h1 class="display-4">Pinball Machine Search</h1>

					@using (Html.BeginForm("Search", "Locations"))
					{
							<select class="form-control" id="SearchBy" name="SearchBy">
							<option>Search by machine</option> 
							<option>Search by location</option> 
							</select>
							<input type="text" placeholder="Search.." name="search" class="form-control"/>
							<br>
							<input type="submit"  value="Search!" class="btn btn-dark btn-lg">
					}   
			</div> 
	</div>


<div id='map' style='width: 100%; height: 500px;'></div>

<script type="text/javascript">

mapboxgl.accessToken = 'pk.eyJ1IjoicGllaGFyZCIsImEiOiJjazhxZjBnYXQwMzh0M2lxc2d0dGY0dzB6In0.AMqWRFCTZDB00Wev4G3GtQ';
var map = new mapboxgl.Map({
container: 'map', 
style: 'mapbox://styles/mapbox/streets-v11',
center: [-122.65, 45.51], 
zoom: 10 
});


map.addControl(new mapboxgl.NavigationControl());


map.on('load', function() {

	map.on('click', 'places', function(e) {
	var coordinates = e.features[0].geometry.coordinates.slice();
	var description = e.features[0].properties.description;
	
	while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
	coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
	}
	
	new mapboxgl.Popup()
	.setLngLat(coordinates)
	.setHTML(description)
	.addTo(map);
	});
	
	map.on('mouseenter', 'places', function() {
	map.getCanvas().style.cursor = 'pointer';
	});
	
	map.on('mouseleave', 'places', function() {
	map.getCanvas().style.cursor = '';
	});

	map.addSource('places', {
		'type': 'geojson',
		'data': {
		'type': 'FeatureCollection',
		'features': [
			{
				'type': 'Feature',
				'properties': {
					'id': 1002,
					'description': '45th Street Pub',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7234162,
						45.4860205
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1004,
					'description': '52nd Avenue Sports Bar',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6098976,
						45.54035
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12643,
					'description': '54°40′ Brewing Company',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.3268661,
						45.5647039
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 9767,
					'description': '99W Drive-in Theatre',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.9478282,
						45.3047101
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 3803,
					'description': 'Adams Coin Op Laundry',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5484833,
						45.558271
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13707,
					'description': 'Advice Booth',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6897385,
						45.5625044
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 868,
					'description': 'Alleyway Cafe & Bar',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6405715,
						45.5592267
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11804,
					'description': 'Aloha Station',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.8675203,
						45.4926508
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 3261,
					'description': 'Angelos',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6147175,
						45.5118676
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1051,
					'description': 'APEX',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6533129,
						45.50466
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11233,
					'description': 'Arcade Club PDX',
					'num_machines': 23,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7694982,
						45.4319715
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11940,
					'description': 'Assembly Brewing',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6003756,
						45.4908794
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12011,
					'description': 'Atlas Pizza',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5951077,
						45.4890808
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4700,
					'description': 'Atlas Pizza (Division)',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6269761,
						45.5046421
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 8730,
					'description': 'Atlas Pizza (Killingsworth)',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6746106,
						45.5625325
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12819,
					'description': 'Autos Pub',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.504748,
						45.603593
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 900,
					'description': 'Avalon Theatre / Wunderland',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6283317,
						45.5165609
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 8765,
					'description': 'Baby Doll Pizza',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6364651,
						45.5195272
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13968,
					'description': 'Baby Ketten Klub',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6408407,
						45.4985415
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 3565,
					'description': 'Back Stage Bar at Bagdad Theater & Pub',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6255212,
						45.5118436
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7719,
					'description': 'Baileys Tiger Bowl',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5366789,
						45.7829127
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11685,
					'description': 'Barbarella',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6756209,
						45.5242632
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2375,
					'description': 'Bare Bones Bar',
					'num_machines': 6,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6359419,
						45.5163214
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5661,
					'description': 'Barlow Tavern',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6953473,
						45.5665309
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4745,
					'description': 'Bar Maven',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5990344,
						45.4908102
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 941,
					'description': 'Bar of the Gods (BOG)',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6129756,
						45.5121944
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 887,
					'description': 'Basement Pub',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6536319,
						45.5153589
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12025,
					'description': 'Batting A Thousand - Batting Cages',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.572357,
						45.5193144
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7720,
					'description': 'Battle Ground Cinema',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.546506,
						45.7686374
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2339,
					'description': 'Bear Paw Inn',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6544981,
						45.4997952
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7492,
					'description': 'Beer',
					'num_machines': 7,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6512892,
						45.5191421
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5615,
					'description': 'Beer Bunker',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.582013,
						45.519142
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 895,
					'description': 'Belmont Inn',
					'num_machines': 7,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.629714,
						45.516582
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 871,
					'description': 'Beulahland',
					'num_machines': 7,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6372351,
						45.5238688
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 9121,
					'description': 'Bills Steak House & Lounge',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5571536,
						45.559436
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6406,
					'description': 'Billy Blues Bar and Grill',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6679257,
						45.67424
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 864,
					'description': 'Billy Rays Neighborhood Dive',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6613665,
						45.5389837
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6111,
					'description': 'BlackBird Pizza',
					'num_machines': 12,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.645819,
						45.5123739
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6041,
					'description': 'Black Water Bar',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6567883,
						45.5352608
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12134,
					'description': 'Bleachers Sports Bar & Grill',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.8071235,
						45.5242661
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10269,
					'description': 'Blue Bird Tavern',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7557992,
						45.5909095
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 14065,
					'description': 'Bradfords Sports Lounge',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5559029,
						45.5333361
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5726,
					'description': 'Brickhouse Bar & Grill',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6717493,
						45.6322652
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12272,
					'description': 'Brickyard Tavern',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.8118633,
						45.4885079
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1006,
					'description': 'Broadway Grill and Brewery',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6483244,
						45.5349084
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11965,
					'description': 'Buddys Lounge',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5784607,
						45.5082178
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13581,
					'description': 'Buffalo Gap Saloon & Eatery',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6718873,
						45.4745113
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4066,
					'description': 'Bunk Bar NE',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6634791,
						45.5406738
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6249,
					'description': 'Bunk Bar Water',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6655692,
						45.5153323
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 8813,
					'description': 'Bunsenbrewer',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.2903423,
						45.4040588
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 3014,
					'description': 'Busters Texas-Style Barbecue',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7440307,
						45.443365
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5184,
					'description': 'Cascade Bar & Grill',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5175544,
						45.617428
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 866,
					'description': 'C-Bar',
					'num_machines': 15,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6359347,
						45.493215
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10169,
					'description': 'Century 16 Cedar Hills',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.8120124,
						45.4978544
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7442,
					'description': 'Century 16 Eastport Plaza',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5744222,
						45.4932722
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11253,
					'description': 'Char Pizza',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6015731,
						45.49259
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13618,
					'description': 'Chesters Pub',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.3403875,
						45.4320601
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5581,
					'description': 'Clamity Jaes',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5510581,
						45.533776
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 873,
					'description': 'Clinton Street Pub',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6399959,
						45.5033634
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12752,
					'description': 'Clubhouse Bar and Grill',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7302074,
						45.4868001
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5542,
					'description': 'Coachs Bar & Grill',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7835023,
						45.5089756
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1040,
					'description': 'Commodore Grill & Lounge',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6884563,
						45.5228581
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 8917,
					'description': 'Creepys',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.659036,
						45.5174409
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 992,
					'description': 'Crow Bar',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6754139,
						45.5516532
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7982,
					'description': 'Darcys Restaurant & Bar',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7186365,
						45.5802987
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12026,
					'description': 'Denos Pizzeria',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7229735,
						45.4046096
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 9914,
					'description': 'Division Sports Pub',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.4157831,
						45.505767
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6105,
					'description': 'Donnells Bar',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6713977,
						45.6277033
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5935,
					'description': 'Donnie Vegas',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6535183,
						45.5592783
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13598,
					'description': 'Doomsday Brewing Pub & Pizza',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6665538,
						45.6881632
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 9006,
					'description': 'Doomsday Brewing Safe House',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6712732,
						45.636297
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4499,
					'description': 'Double Barrel Tavern',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6454183,
						45.5047809
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11425,
					'description': 'Double Jump Games',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5550173,
						45.6162115
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2157,
					'description': 'Dv8',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6106342,
						45.4976795
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7780,
					'description': 'Eastern Pearl Restaurant',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7655584,
						45.4989394
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4964,
					'description': 'East Glisan Pizza Lounge',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5811013,
						45.5265831
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 9148,
					'description': 'East Side Delicatessen',
					'num_machines': 7,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6542641,
						45.5133403
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5573,
					'description': 'E. B. Smokeys Barbecue & Grill',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7639121,
						45.3798357
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11574,
					'description': 'Embassy Suites by Hilton Portland Downtown',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6741664,
						45.5219052
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13361,
					'description': 'Falcos Pub',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5620695,
						45.5185749
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 9990,
					'description': 'Finger Bang',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6540618,
						45.5046791
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 3516,
					'description': 'Firkin Tavern',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6548726,
						45.508762
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11465,
					'description': 'Flipside Bar And Carts',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5677542,
						45.4786589
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 869,
					'description': 'Florida Room',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6709011,
						45.5629082
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 9664,
					'description': 'Flying Pie (Montavilla)',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5830316,
						45.5190256
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1212,
					'description': 'Flying Pie Pizzeria',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.4303899,
						45.508879
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2338,
					'description': 'Flying Pie Pizzeria',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.62178,
						45.402203
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7802,
					'description': 'Flying Pie Pizzeria (North Portland)',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7245927,
						45.5825388
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7461,
					'description': 'FoPo Tavern',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.602145,
						45.4920601
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10411,
					'description': 'Foster Gardens',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5824918,
						45.4843644
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7708,
					'description': 'Fourth Plain Tavern',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5369332,
						45.671662
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1028,
					'description': 'Fuddruckers',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.743865,
						45.3980762
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11330,
					'description': 'Fuego',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.9640141,
						45.508173
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12808,
					'description': 'Garage Bar & Grille',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6824104,
						45.6400209
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5335,
					'description': 'Garden Home Dugout',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7518405,
						45.4655314
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4966,
					'description': 'Gladstone Card Room',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.594561,
						45.379661
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2947,
					'description': 'Godfathers Pizza',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.4108379,
						45.5284608
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 14178,
					'description': 'Godfather’s Pizza',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7914598,
						45.515047
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 867,
					'description': 'Goodfoot Lounge',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6363491,
						45.5195335
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 998,
					'description': 'Good Neighbor Pizzeria',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6571821,
						45.5715581
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11308,
					'description': 'Grains of Wrath Brewery & Restaurant',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.4056882,
						45.5856836
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1010,
					'description': 'Grand Central Restaurant and Bowling Lounge',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6574066,
						45.5171003
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12820,
					'description': 'Greeley Avenue Bar & Grill',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6959053,
						45.5624844
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 874,
					'description': 'Ground Kontrol Classic Arcade',
					'num_machines': 41,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.675826,
						45.5240826
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1125,
					'description': 'Happy Fortune',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7270663,
						45.4504592
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4241,
					'description': 'Hawthorne Hideaway',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6429571,
						45.5123266
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6934,
					'description': 'Heritage Pub',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5789176,
						45.4459632
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12401,
					'description': 'Historic Springdale Pub and Eatery',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.3306664,
						45.5188438
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5877,
					'description': 'Hitchin Post Pizza',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.3392504,
						45.2885387
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4583,
					'description': 'Hollywood Babylon',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6165668,
						45.5374186
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13513,
					'description': 'Hollywood Mini Golf',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6248274,
						45.5343129
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1015,
					'description': 'Holmans Restaurant',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6375032,
						45.5225892
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10291,
					'description': 'Hop Haven',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.643969,
						45.534887
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6947,
					'description': 'HOTLIPS Pizza (Hawthorne)',
					'num_machines': 9,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6431435,
						45.5123238
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5368,
					'description': 'HOTLIPS Pizza (Hollywood)',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6153641,
						45.53796
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7451,
					'description': 'HOTLIPS Pizza (PSU)',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6837013,
						45.5103153
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6008,
					'description': 'Houndogs Bar & Grill',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6515247,
						45.4905875
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 3157,
					'description': 'Hour Glass Pub & Eatery',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5865799,
						45.5265963
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 909,
					'description': 'Hungry Tiger',
					'num_machines': 6,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6537892,
						45.5213118
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13747,
					'description': 'Husteds Hazel Dell Lanes',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6653722,
						45.6684204
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 8826,
					'description': 'Icehouse',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6624294,
						45.6793621
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4632,
					'description': 'Ice House',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6027917,
						45.3607382
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12027,
					'description': 'Ivy Bear Pizzeria',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.1019606,
						45.3773521
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13557,
					'description': 'Jacks Tap Room and Quarterback Bar',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7220442,
						45.4854994
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6227,
					'description': 'Jakes Place',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6471603,
						45.4651582
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6994,
					'description': 'Jimmys',
					'num_machines': 7,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.4219309,
						45.498744
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11366,
					'description': 'Jinx',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6347243,
						45.5625849
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 14169,
					'description': 'JJ Jump',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5715506,
						45.4145635
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4941,
					'description': 'JJ Jump',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6557753,
						45.6761459
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7508,
					'description': 'JJs Pub',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6776744,
						45.4055004
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 3868,
					'description': 'Joes Cellar',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6946238,
						45.5324377
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5367,
					'description': 'Joes Pastime Tavern',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.9848458,
						45.5226339
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4940,
					'description': 'Johns Incredible Pizza Company',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7749638,
						45.4545591
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10657,
					'description': 'Js Hangout Sports Bar And Grill',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.8663406,
						45.4942245
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12902,
					'description': 'Kellogg Bowl',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6405976,
						45.448033
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 3155,
					'description': 'Kellys Olympian',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6765458,
						45.5199352
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 912,
					'description': 'Kenton Club',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.687552,
						45.582616
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4738,
					'description': 'Kingston Bar & Grill',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6927412,
						45.5230723
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5936,
					'description': 'Korner Pocket',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5876339,
						45.5486343
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13673,
					'description': 'Korner Street Bar & Grill',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6360285,
						45.6686471
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11579,
					'description': 'Ladd Taphouse',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6549444,
						45.5066692
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5933,
					'description': 'Laurelthirst Public House',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.634665,
						45.5262542
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 8157,
					'description': 'Lay Low Tavern',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6009581,
						45.4976399
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10653,
					'description': 'Level Beer',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.510974,
						45.5605006
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 14170,
					'description': 'Level Beer Multnomah Village',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7137056,
						45.4677421
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5660,
					'description': 'Lightning Will Bar & Grill',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6946436,
						45.5250595
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2321,
					'description': 'Lions Eye Tavern',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5789994,
						45.4798866
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12009,
					'description': 'Lloyd Center',
					'num_machines': 6,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6531869,
						45.5328454
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11868,
					'description': 'Loowit Brewing Company',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.673635,
						45.6252284
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4967,
					'description': 'Low Brow Lounge',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6818535,
						45.5271095
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7823,
					'description': 'Lts Pub',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.425793,
						45.5046143
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1046,
					'description': 'Lucky House',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.602357,
						45.5339427
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10504,
					'description': 'Luckys Bar And Grill',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5774779,
						45.6790466
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12030,
					'description': 'Lumberyard MTB',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5776487,
						45.541572
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6862,
					'description': 'Lus Sports Bar & Lounge',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7486274,
						45.4406556
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2388,
					'description': 'Lutz Tavern',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6146151,
						45.4793488
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 8156,
					'description': 'Mad Hanna',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5995927,
						45.5483855
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11766,
					'description': 'Madison Taproom',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6025327,
						45.3546427
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 8883,
					'description': 'Main Street Station Bar & Grille',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5289321,
						45.7807276
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12135,
					'description': 'Marathon Taverna',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.689067,
						45.5230756
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10745,
					'description': 'Maries',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7553866,
						45.5910019
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2993,
					'description': 'Mauis',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6664573,
						45.548429
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4596,
					'description': 'McGillacuddys Sports Bar & Grill',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.548202,
						45.533652
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12013,
					'description': 'McKenzie Pub',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.8453632,
						45.3660097
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 3628,
					'description': 'McMenamins Barley Mill Pub',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6487636,
						45.5123116
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4832,
					'description': 'McMenamins Blue Moon Tavern & Grill',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6941044,
						45.526196
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1016,
					'description': 'McMenamins Edgefield',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.4065816,
						45.537115
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5761,
					'description': 'McMenamins Grand Lodge',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-123.0861616,
						45.5216268
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6914,
					'description': 'Mikes Place',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6969045,
						45.2616093
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10476,
					'description': 'Milwuakie Bowl',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6312121,
						45.4457874
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 9908,
					'description': 'Misdemeanor Meadows',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6094616,
						45.4728704
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 14035,
					'description': 'M&M Restaurant & Lounge',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.4312285,
						45.4988531
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10481,
					'description': 'Mojo Crepes',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.576342,
						45.5047689
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 973,
					'description': 'Momo Bar Maximo',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6826016,
						45.5197057
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5410,
					'description': 'Montavilla Social Club',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5812005,
						45.5263221
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 977,
					'description': 'Montavilla Station',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5817306,
						45.5194019
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 9092,
					'description': 'Moreland Ale House',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6476451,
						45.4659607
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'marker-color': '#7e7e7e',
					'marker-size': 'medium',
					'marker-symbol': '',
					'id': 10459,
					'description': 'Mt Scott Pub',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5894947,
						45.4793567
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 890,
					'description': 'My Fathers Place',
					'num_machines': 12,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6608681,
						45.5190327
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 881,
					'description': 'Nest Lounge',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6377413,
						45.5165817
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11966,
					'description': 'Next Level Pinball Museum',
					'num_machines': 123,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.9561072,
						45.535816
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13472,
					'description': 'Nicks Famous Coney Island',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6249211,
						45.5118877
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 996,
					'description': 'Oaks Skating Rink',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6616204,
						45.4718801
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 8331,
					'description': 'Oddball Shoe Company',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6900102,
						45.5359033
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1923,
					'description': 'Old Spaghetti Factory',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5687002,
						45.4314556
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1707,
					'description': 'Old Spaghetti Factory',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6692871,
						45.4932279
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7709,
					'description': 'Orchards Tap Bar & Grill',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5643357,
						45.663999
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2238,
					'description': 'Over and Out (Observatory)',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5801938,
						45.5192926
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 9697,
					'description': 'Over Easy Bar and Breakfast',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7326202,
						45.5930492
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4459,
					'description': 'Paolas Pizza Barn',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.2723264,
						45.3986243
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2605,
					'description': 'Papa Petes Pizza',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.683733,
						45.8156222
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4727,
					'description': 'Paradise',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5351505,
						45.5263241
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13639,
					'description': 'Parkers Hideout',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6030134,
						45.4576744
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5940,
					'description': 'Pauls Restaurant - Elbow Room',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6706621,
						45.6351448
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2354,
					'description': 'Paymaster Lounge',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6882656,
						45.530431
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7783,
					'description': 'Perfect Pizza Company',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7746047,
						45.3019317
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5721,
					'description': 'Piedmont Place',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6745167,
						45.5770594
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 3129,
					'description': 'Pieper Cafe',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5956851,
						45.489004
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 978,
					'description': 'Pizza Baron',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5376399,
						45.5031587
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12727,
					'description': 'Pizza Schmizza',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7720075,
						45.4861058
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11341,
					'description': 'Pub 26',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-121.9637796,
						45.3472
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7784,
					'description': 'Putters Bar & Grill',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5877959,
						45.4798322
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6751,
					'description': 'QuarterWorld Arcade',
					'num_machines': 35,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6127748,
						45.5122586
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 14428,
					'description': 'Rainbow City',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.654843,
						45.522488
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7814,
					'description': 'Ranch Tavern',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6110754,
						45.3881342
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6069,
					'description': 'Ratskeller',
					'num_machines': 6,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-121.7562154,
						45.3042433
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7379,
					'description': 'Reds Bar & Grill',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5906463,
						45.4874221
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10023,
					'description': 'Renegades Bar and Grill',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6708024,
						45.6262836
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 944,
					'description': 'Ringlers Pub',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6848587,
						45.5228977
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4878,
					'description': 'Ringos Bar and Grill',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.8030901,
						45.4874579
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 14533,
					'description': 'Robo Taco',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6592838,
						45.5174057
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7718,
					'description': 'Rockys Pizza',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5571474,
						45.7801472
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6106,
					'description': 'Rockys Sports & Spirits',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5891474,
						45.4682713
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 9050,
					'description': 'Rodders Grub & Pub',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5848057,
						45.3286471
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10547,
					'description': 'Rogue Hall',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6855145,
						45.5128382
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 14066,
					'description': 'Rogue Pearl Public House',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6849856,
						45.525913
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 980,
					'description': 'Roscoes',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5803508,
						45.5193334
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6562,
					'description': 'Rudys Barbershop',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6343938,
						45.5049933
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11505,
					'description': 'Rudys Barbershop',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6752698,
						45.5516628
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12042,
					'description': 'Rudys Gourmet Pizza',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6409089,
						45.4985286
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 3794,
					'description': 'Sandy Cinema',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.2982577,
						45.4028981
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5748,
					'description': 'Sandy Hut',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6507317,
						45.5237693
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7549,
					'description': 'Scandals',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6827797,
						45.5226609
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4863,
					'description': 'Schmizza Pub & Grub (Cedar Mill)',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.815295,
						45.5270608
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4577,
					'description': 'Scoreboard Sports Bar',
					'num_machines': 12,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6127263,
						45.5051309
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 14018,
					'description': 'Scottys',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.8005759,
						45.4436728
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4475,
					'description': 'Sellbergs Tavern',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6487906,
						45.6415315
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5464,
					'description': 'Sellwood Inn Pub',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.647349,
						45.462747
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11329,
					'description': 'Sellwood Public House',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6527328,
						45.4637778
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2695,
					'description': 'Shanahans Pub & Grill',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6731056,
						45.634599
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 878,
					'description': 'Shanghai Tunnel',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6723249,
						45.5225371
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 8914,
					'description': 'Sherwood Ice Arena',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.8486226,
						45.3685708
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 865,
					'description': 'Ship Ahoy Tavern',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.635794,
						45.4935475
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6016,
					'description': 'Silver Star Saloon',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6034388,
						45.644367
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 916,
					'description': 'Sinnotts Lil Cooperstown',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6029655,
						45.5340078
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13227,
					'description': 'Six Shooter',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6713983,
						45.6261452
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 945,
					'description': 'Slims Cocktail Bar & Restaurant',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7549378,
						45.5904873
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 919,
					'description': 'Slingshot Lounge',
					'num_machines': 7,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6055421,
						45.49369
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 9567,
					'description': 'Southeast Barber Company',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6061031,
						45.4790044
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 910,
					'description': 'Speakeasy Gils',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.65933,
						45.5152771
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4633,
					'description': 'Spin Laundry Lounge',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.674426,
						45.5476765
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12133,
					'description': 'Spin Laundry Lounge (Broadway)',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6415758,
						45.5347902
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 9312,
					'description': 'Spud Monkeys Bar and Grill',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.431314,
						45.50949
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12034,
					'description': 'Stadiums Sports Bar',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6250813,
						45.406382
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1935,
					'description': 'Star Bar',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6588265,
						45.5173555
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1121,
					'description': 'Stark Street Pizza',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5683844,
						45.5186068
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10809,
					'description': 'Stickmen Brewing Company (Tualatin Beer Hall)',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7996447,
						45.3794333
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13600,
					'description': 'St Johns Flower Shop And Pub',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7444808,
						45.5881666
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10897,
					'description': 'Straight From New York Pizza',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6257104,
						45.5122364
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6913,
					'description': 'Straight from New York Pizza (W Burnside)',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6972489,
						45.5233832
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13377,
					'description': 'Sundown Pub',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7283928,
						45.5841938
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4476,
					'description': 'TA Travel Center',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.8062903,
						45.2375941
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10172,
					'description': 'Thatchers',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5822842,
						45.5189616
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10956,
					'description': 'The Barrel Room',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6735455,
						45.5240176
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7551,
					'description': 'The Eagle Eye Tavern',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5684155,
						45.4801058
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11179,
					'description': 'The Fixin To',
					'num_machines': 8,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7514159,
						45.5889569
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 975,
					'description': 'The Greek Village Tavern',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.8158463,
						45.521351
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1938,
					'description': 'The Hilt',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6451304,
						45.5589266
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2268,
					'description': 'The Jade Mermaid Tattoo Parlor',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6869801,
						45.5231071
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6548,
					'description': 'The Lodge Bar & Grill',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5954507,
						45.4976657
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7472,
					'description': 'The Lombard Pub',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7019823,
						45.5770173
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12024,
					'description': 'The Low Road',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.4323595,
						45.5002982
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6068,
					'description': 'The Megabite (Hazel Dell)',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.663699,
						45.673148
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6070,
					'description': 'The Megabite (Orchards)',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.565253,
						45.662645
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 14311,
					'description': 'The Monkey King Play House',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.4869675,
						45.4914519
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10461,
					'description': 'The Off Ramp',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5581438,
						45.6233398
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10420,
					'description': 'The Old Market Pub & Brewery',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7486958,
						45.4659262
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11801,
					'description': 'The Old Spaghetti Factory',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.8717165,
						45.5408423
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10941,
					'description': 'The Original Dinerant',
					'num_machines': 5,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6770287,
						45.5214903
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13597,
					'description': 'The Pharmacy',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6946036,
						45.5261365
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13425,
					'description': 'The RailHouse Lounge',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6655857,
						45.5133213
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7761,
					'description': 'The Ship Tavern',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7130127,
						45.4677307
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7450,
					'description': 'The Side Street Tavern',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6293856,
						45.5167621
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7178,
					'description': 'The Slammer Tavern',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6574726,
						45.519221
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 989,
					'description': 'The Spare Room',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6201389,
						45.5580903
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 888,
					'description': 'The Standard',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6433169,
						45.5229827
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 11963,
					'description': 'The Vern',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6386928,
						45.5163539
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10695,
					'description': 'The Wurst',
					'num_machines': 4,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6580005,
						45.5227518
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 9390,
					'description': 'Tik Tok Pizza Time Deli',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.547592,
						45.504421
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 14168,
					'description': 'Timber Pub & Grub',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.3744497,
						45.4298734
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 942,
					'description': 'Tinys Coffee (12th Ave)',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6534296,
						45.5126021
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 904,
					'description': 'Tinys Coffee (MLK Blvd)',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6617124,
						45.5376607
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4339,
					'description': 'Tip Top Too',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.671737,
						45.6374685
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 6407,
					'description': 'Tired Feat Tavern',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.579585,
						45.462778
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7406,
					'description': 'Toms Restaurant',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6228729,
						45.5050149
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 894,
					'description': 'Triple Nickel Pub',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6261492,
						45.5162755
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2373,
					'description': 'Troutdale Travel Center',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.3957709,
						45.543851
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12182,
					'description': 'Tulip Shop Tavern',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6756209,
						45.5628509
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 938,
					'description': 'Twilight Cafe and Bar',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6506519,
						45.5002299
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 921,
					'description': 'Twilight Room',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7226489,
						45.5817803
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2337,
					'description': 'Ultrazone Laser Tag',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6238666,
						45.4078511
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 3080,
					'description': 'Vendetta',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6665311,
						45.5547252
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 7785,
					'description': 'Vogies Bar',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.5946867,
						45.3799533
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 5113,
					'description': 'Voodoo Doughnut Too',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.650523,
						45.524527
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 1056,
					'description': 'Wall Street Pizza',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.4311673,
						45.4991801
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12031,
					'description': 'Washington Square Mall',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.7813094,
						45.4502551
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 940,
					'description': 'Watertrough Saloon',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6128005,
						45.5120401
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13737,
					'description': 'Wayward Sandwiches',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6932329,
						45.2633184
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 10804,
					'description': 'Wedgehead',
					'num_machines': 24,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6243871,
						45.5340457
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 13599,
					'description': 'West Coast Grocery Company',
					'num_machines': 2,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.651463,
						45.5194182
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 12023,
					'description': 'Wichita Puffs Pub',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.4346577,
						45.5187639
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 969,
					'description': 'Wilshire Tavern',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6201476,
						45.5526776
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 2304,
					'description': 'Yamhill Pub',
					'num_machines': 1,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.6751267,
						45.5173929
					]
				}
			},
			{
				'type': 'Feature',
				'properties': {
					'id': 4886,
					'description': 'Yurs Restaurant',
					'num_machines': 3,
					'icon': 'rocket'
				},
				'geometry': {
					'type': 'Point',
					'coordinates': [
						-122.687697,
						45.528143
					]
				}
			}
		]
	}
	});
	// Add a layer showing the places.
	map.addLayer({
		'id': 'places',
		'type': 'symbol',
		'source': 'places',
		'layout': {
		'icon-image': '{icon}-15',
		'icon-allow-overlap': true
		}
	});
});

</script>