@{
    ViewData["Title"] = "Home Page";
}


<div id="index-section">
    <div class="text-center">
        <h1 class="display-4">Welcome to the Portland Pinball Tracker!</h1>
    <form class="example" action="action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    </div> 
</div>

