@{
    ViewData["Title"] = "Home Page";
}


<div id="index-section">
    <div class="text-center">
        <h1 class="display-4">Welcome to the Portland Pinball Tracker!</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quos eligendi deleniti voluptas maiores quaerat reiciendis veniam tempore aliquam repellat consectetur perferendis quod, officia ducimus aspernatur quibusdam est velit asperiores qui! Quas, accusantium, nobis maxime ullam officia dicta consectetur ipsum laudantium voluptates magnam, libero aut deleniti qui. Molestias molestiae at sed! Nam iure nisi itaque facilis ex, voluptate est eaque!</p>
        <form class="example" action="action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div> 
</div>

